.content {
  width: 100%;
  margin-top: 2rem;

  @include breakpoint-up(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    padding: 1rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $primary-color;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $accent-color;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $light-color;
    }
  }

  @include breakpoint-up(mdDesktop) {
    display: unset;
  }

  &__top {
    text-align: center;
    margin-bottom: 2rem;

    .logo {
      width: 200px;

      @include breakpoint-up(smDesktop) {
        width: 300px;
      }
      @include breakpoint-up(xlDesktop) {
        width: 400px;
      }
    }

    .slogan {
      color: $accent-color;
      font-size: 1rem;
      text-transform: uppercase;

      @include breakpoint-up(tablet) {
        font-size: 1.5rem;
      }

      @include breakpoint-up(mdDesktop) {
        max-width: 500px;
        margin: 0 auto;
      }

      @include breakpoint-up(xlDesktop) {
        font-size: 1.875rem;
        max-width: 700px;
        margin: 0 auto;
      }
    }
  }

  &__bottom {
    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-gap: 1rem;

      @include breakpoint-up(xlDesktop) {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      }

      .item {
        aspect-ratio: 16 / 9;
        position: relative;
        display: flex;
        align-items: flex-end;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, transparent 20%, #000 80%);
        }

        &.ambulance {
          background: url("../../dist/assets/Ambulance.jpeg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        &.satpolpp {
          background: url("../../dist/assets/Satpol\ PP.jpeg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        &.kepolisian {
          background: url("../../dist/assets/Kepolisian.jpeg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        &.pemadam {
          background: url("../../dist/assets/Pemadam\ Kebakaran.jpeg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        &.bpjs {
          background: url("../../dist/assets/BPJS.jpeg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        &.timsar {
          background: url("../../dist/assets/Badan\ SAR.jpeg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        &.pajak {
          background: url("../../dist/assets/Direktorat\ Jenderal\ Pajak.jpeg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        &.konsultan {
          background: url("../../dist/assets/Konsultan\ Hukum.jpeg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &__desc {
          width: 100%;
          position: relative;
          z-index: 1;
          padding: 0.5rem;

          @include breakpoint-up(lgDesktop) {
            padding: 0.75rem;
          }
          @include breakpoint-up(xlDesktop) {
            padding: 1rem;
          }

          .button {
            display: inline-block;
            position: relative;
            background: none;
            border: 1px solid $secondary-color;
            font-size: 0.75rem;
            font-weight: weight(bold);
            color: $secondary-color;

            @include breakpoint-up(xlDesktop) {
              font-size: 1.25rem;
              border-width: 3px;
            }

            &.func {
              border: none;
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              background-color: $secondary-color;
              color: #000;
              transition: all 0.3s ease;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}
