.sidebar {
  background-color: $light-color;
  display: grid;
  grid-template-rows: repeat(1fr, 2);
  padding: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: $primary-color;
  font-weight: weight(bold);
}
