.sidebar {
  background-color: $light-color;
  padding: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: $primary-color;
  font-weight: weight(bold);

  @include breakpoint-up(tablet) {
    display: grid;
  }
}
