*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: $ff-primary;
}

a {
  text-decoration: none;
}

.btn {
  width: 100%;
  padding: 8px 0;
  background-color: $secondary-color;
  color: $primary-color;
  text-transform: uppercase;
  text-align: center;
  font-family: $ff-primary;
  cursor: pointer;
}

.main {
  background-color: $primary-color;
}

.container {
  // max-width: 1170px;
  margin: 0 auto;

  &--p {
    padding: 1rem;

    @include breakpoint-up(tablet) {
      padding: 2rem;
    }
  }
  &--px {
    padding: 0 2rem;
  }
  &--py {
    padding: 2rem 0;
  }
}

.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }
  &-jc-c {
    justify-content: center;
  }
  &-jc-sb {
    justify-content: space-between;
  }
}

// overlay
.overlay {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  width: 83%;
  height: 100vh;
  background-color: $light-color;
  display: grid;
  padding: 67px 1rem 0 1rem;
  text-transform: uppercase;
  text-align: center;
  color: $primary-color;
  font-size: 1rem;
  transition: all 0.3 ease-in-out;
}

// hidding elements
.hide-for-mobile {
  @include breakpoint-down(phone) {
    display: none;
  }
}
.hide-for-tablet {
  @include breakpoint-up(tablet) {
    display: none;
  }
}
.hide-for-desktop {
  @include breakpoint-up(smDesktop) {
    display: none;
  }
}
