*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: $ff-primary;

  @include breakpoint-up(tablet) {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button,
.btn {
  width: 100%;
  padding: 8px 0;
  background-color: $secondary-color;
  color: $primary-color;
  text-transform: uppercase;
  text-align: center;
  font-family: $ff-primary;
  cursor: pointer;
}

.main {
  background-color: $primary-color;
}

.container {
  max-width: 1920px;
  margin: 0 auto;

  &--p {
    padding: 1rem;

    @include breakpoint-up(tablet) {
      padding: 2rem;
    }
  }
  &--px {
    padding: 0 2rem;
  }
  &--py {
    padding: 2rem 0;
  }
}

.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }
  &-jc-c {
    justify-content: center;
  }
  &-jc-sb {
    justify-content: space-between;
  }
}

// hidding elements
.hide-for-mobile {
  @include breakpoint-down(phone) {
    display: none;
  }
}
.hide-for-tabletDown {
  @include breakpoint-down(tablet) {
    display: none;
  }
}
.hide-for-tabletUp {
  @include breakpoint-up(tablet) {
    display: none;
  }
}
.hide-for-desktop {
  @include breakpoint-up(smDesktop) {
    display: none;
  }
}

// Button di dalam pop up sweetalert
.hubungi {
  &__text {
    margin-bottom: 2rem;
  }

  &__btn {
    .hubungi-btn {
      border: none;
      border-radius: 4px;
      font-size: 2rem;
      width: auto;
      padding: 0.5rem 1.25rem;
      margin: 0 0.5rem;

      &:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
      }
    }
  }
}

.telpon {
  &__btn {
    display: flex;
    flex-direction: column;

    .telpon-btn {
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      width: auto;
      padding: 0.5rem 1.25rem;
      margin: 0.5rem;

      &:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
      }

      a {
        color: $primary-color;
      }
    }
  }
}

.sweetalert-red-btn {
  background-color: $accent-color !important;
}
.sweetalert-orange-btn {
  background-color: $secondary-color !important;
}
